---
import { DemoSection } from "@/components/DemoSection";
---

<link rel="prefetch" href="/demo/hero.cast" as="fetch" crossorigin="anonymous" />

<section class="band demo-section pt-12 pb-6 sm:pt-8 sm:pb-8 lg:pt-10 lg:pb-10">
  <div class="mx-auto mb-8 max-w-5xl sm:mb-6">
    <h2 class="section-title text-center">OpenTaint in action</h2>
  </div>
  <DemoSection client:visible />
</section>
